In [1]:
import psycopg2

In [3]:
connection = psycopg2.connect(
               database="demo",
               user="odoo",
               password="admin",
               host="localhost",
               port="5432"
           )

cursor = connection.cursor()

In [4]:
query = "select name from hr_employee;"

cursor.execute(query)

employees = cursor.fetchall()

# convert employees into list and store it in employees_list

employees_list = [list(employee) for employee in employees]

In [8]:
employees

[('Mitchell Admin',),
 ('Marc Demo',),
 ('Ronnie Hart',),
 ('Anita Oliver',),
 ('Sharlene Rhodes',),
 ('Randall Lewis',),
 ('Jennie Fletcher',),
 ('Keith Byrd',),
 ('Walter Horton',),
 ('Doris Cole',),
 ('Rachel Perry',),
 ('Beth Evans',),
 ('Ernest Reed',),
 ('Eli Lambert',),
 ('Abigail Peterson',),
 ('Audrey Peterson',),
 ('Toni Jimenez',),
 ('Jeffrey Kelly',),
 ('Tina Williamson',),
 ('Paul Williams',)]

In [6]:
employees_list = [list(employee) for employee in employees]

In [7]:
employees_list

[['Mitchell Admin'],
 ['Marc Demo'],
 ['Ronnie Hart'],
 ['Anita Oliver'],
 ['Sharlene Rhodes'],
 ['Randall Lewis'],
 ['Jennie Fletcher'],
 ['Keith Byrd'],
 ['Walter Horton'],
 ['Doris Cole'],
 ['Rachel Perry'],
 ['Beth Evans'],
 ['Ernest Reed'],
 ['Eli Lambert'],
 ['Abigail Peterson'],
 ['Audrey Peterson'],
 ['Toni Jimenez'],
 ['Jeffrey Kelly'],
 ['Tina Williamson'],
 ['Paul Williams']]

In [21]:
query = "select name from hr_employee;"

cursor.execute(query)

employees = cursor.fetchall

# convert employees into list and store it in employees_list
employees_list = [list(employee) for employee in employees]

slot_value = 'Mitchell Admin'
#database query
query = "select name, duration_display from hr_leave as l left join hr_employee as e on l.id = e.id where e.name = %s"
cursor.execute(query, (slot_value,))
results = cursor.fetchall()

TypeError: 'builtin_function_or_method' object is not iterable

In [18]:
employees_list

[['Mitchell Admin'],
 ['Marc Demo'],
 ['Ronnie Hart'],
 ['Anita Oliver'],
 ['Sharlene Rhodes'],
 ['Randall Lewis'],
 ['Jennie Fletcher'],
 ['Keith Byrd'],
 ['Walter Horton'],
 ['Doris Cole'],
 ['Rachel Perry'],
 ['Beth Evans'],
 ['Ernest Reed'],
 ['Eli Lambert'],
 ['Abigail Peterson'],
 ['Audrey Peterson'],
 ['Toni Jimenez'],
 ['Jeffrey Kelly'],
 ['Tina Williamson'],
 ['Paul Williams']]